<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Proizvodi</title>
  <style media="screen">
  .Naslov{
    display: flex;
    background-color: #11324D;
  }

  .nazad{
    margin-left:700px;
    margin-top: 30px;
    color: white;
  }

  .mm{
    font-family: "Arial Black", Gadget, sans-serif;
   font-size: 25px;
   letter-spacing: 3.6px;
   word-spacing: 2px;
  color: #FDF5CA;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  }

  .prva{
    background-color: #C3BA85;
  }
  .druga{
    background-color: #DAD5AB;
  }
  .treca{
    background-color: #F0F0CB;
  }
  .cetvrta{
    background-color: #FEFFE2;
  }

  .Unos {
       margin-left: 150px;
       padding: 9px;
       font-size: 10px;
       border-width: 1px;
       border-color: #CCCCCC;
       background-color: #FFFFFF;
       color: #000000;
       border-style: solid;
       border-radius: 0px;
       box-shadow: 0px 0px 5px rgba(66,66,66,.75);
       text-shadow: 0px 0px 5px rgba(66,66,66,.75);
  }
   .Unos:focus {
       outline:none;
  }


  .plus {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 80px;
    background-color:#44c767;
    border-radius:21px;
    border:4px solid #06300a;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:7px;
    padding:22px 34px;
    text-decoration:none;
    text-shadow:0px 3px 0px #2f6627;
  }
  .plus:hover {
    background-color:#5cbf2a;
  }
  .plus:active {
    position:relative;
    top:1px;
  }

  .minus {
    margin-left: 30px;
    background-color:#44c767;
    border-radius:21px;
    border:4px solid #06300a;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:10px;
    padding:22px 34px;
    text-decoration:none;
    text-shadow:0px 3px 0px #2f6627;
  }
  .minus:hover {
    background-color:#5cbf2a;
  }
  .minus:active {
    position:relative;
    top:1px;
  }

  </style>
</head>

<body>

  <div class="Naslov">
    <h1 class="mm">Proizvodi</h1>
    <a role="button" class="nazad" href="/admin">Nazad</a>
  </div>

  <div class="Naslov">
    <h1 class="mm">Pića</h1>
  </div>

<form action="sokovi" method="post">
  <div class="Sokovi prva">
    <span class="Artikl">Sokovi</span>
    <p class="Trenutacno_Stanje">Stanje: <%= proizvod[0].stanje %> </p>
    <input type="text" class="Unos" placeholder="Unesi novo stanje" name="stanje">
    <button type="submit" class="plus" name="button">Novo</button>

  </div>
</form>

<form action="alkohol" method="post">
  <div class="Alkohol druga">
    <span class="Artikl">Alkohol</span>
    <p class="Trenutacno_Stanje">Stanje: <%= proizvod[1].stanje%> </p>
    <input type="text" class="Unos" name="stanje">
    <button type="submit" class="plus" name="button">Novo</button>
  </div>
</form>


<form action="voda" method="post">
  <div class="Voda treca">
    <span class="Artikl">Voda</span>
    <p class="Trenutacno_Stanje">Stanje: <%= proizvod[2].stanje%> </p>
    <input type="text" class="Unos" name="stanje">
    <button type="submit" class="plus" name="button">+</button>
  </div>
</form>




  <div class="Naslov">
    <h1 class="mm">Grickalice</h1>
  </div>

<form action="cips" method="post">
  <div class="Cips prva">
    <span class="Artikl">Cips </span>
    <p class="Trenutacno_Stanje">Stanje: <%= proizvod[3].stanje%> </p>
    <input type="text" class="Unos" name="stanje">
    <button type="submit" class="plus" name="button">+</button>
  </div>
</form>


<form action="smoki" method="post">
  <div class="Smoki druga">
    <span class="Artikl">Smoki</span>
    <p class="Trenutacno_Stanje">Stanje: <%= proizvod[4].stanje%> </p>
    <input type="text" class="Unos" name="stanje">
    <button type="submit" class="plus" name="button">+</button>

  </div>
</form>



  <form action="stapici" method="post">
    <div class="Stapici treca">
      <span class="Artikl">Štapiči</span>
      <p class="Trenutacno_Stanje">Stanje: <%= proizvod[5].stanje%> </p>
      <input type="text" class="Unos" name="stanje">
      <button type="submit" class="plus" name="button">+</button>
    </div>
  </form>


<form action="keksi" method="post">
  <div class="Keksi cetvrta">
    <span class="Artikl">Keksi</span>
    <p class="Trenutacno_Stanje">Stanje: <%= proizvod[6].stanje%> </p>
    <input type="text" class="Unos" name="stanje">
    <button type="submit" class="plus" name="button">+</button>
  </div>
</form>


  <div class="Naslov">
    <h1 class="mm">Duhanski proizvodi</h1>
  </div>

<form action="cigarete" method="post">
  <div class="Cigarete prva">
    <span class="Artikl">Cigarete</span>
    <p class="Trenutacno_Stanje">Stanje: <%= proizvod[7].stanje%> </p>
    <input type="text" class="Unos" name="stanje">
    <button type="submit" class="plus" name="button">+</button>
  </div>
</form>

<form action="duhan" method="post">
  <div class="Duhan druga">
    <span class="Artikl">Duhan</span>
    <p class="Trenutacno_Stanje">Stanje: <%= proizvod[8].stanje%> </p>
    <input type="text" class="Unos" name="stanje">
    <button type="submit" class="plus" name="button">+</button>
  </div>
</form>

<form action="filteri" method="post">
  <div class="Filteri treca">
    <span class="Artikl">Filteri</span>
    <p class="Trenutacno_Stanje">Stanje: <%= proizvod[9].stanje%> </p>
    <input type="text" class="Unos" name="stanje">
    <button type="submit" class="plus" name="button">+</button>
  </div>
</form>


</body>

</html>
